Repository harrisj/trump_data: changes, and which pre-commit hooks are due for each by the changed paths.
All: preprocess-events, preprocess-join-csvs, generate-aliases-yaml, generate-events-yaml, generate-events-csv, generate-postings-yaml, generate-people-yaml, generate-mermaid-chart, generate-agency-staffing-chart

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-executables-have-shebangs
  - id: debug-statements
  - id: check-merge-conflict
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
- repo: local
  hooks:
  - id: preprocess-events
    name: Preprocess the events file
    types: [ file ]
    files: it_modernization/raw_data/events.yaml
    entry: "cd ./it_modernization && pipenv run python scripts/preprocess/01_preprocess_events_yaml.py"
    pass_filenames: false
    language: system
  - id: preprocess-join-csvs
    name: Preprocess the join table CSVs
    types: [ file ]
    files: it_modernization/raw_data/events.yaml
    pass_filenames: false
    entry: "cd ./it_modernization && pipenv run python scripts/preprocess/02_preprocess_join_table_csvs.py"
    language: system

  - id: generate-aliases-yaml
    name: Generate the aliases file
    types: [ file ]
    files: it_modernization/raw_data/
    pass_filenames: false
    entry: "cd ./it_modernization && pipenv run python scripts/generate/01_generate_aliases_yaml.py"
    language: system

  - id: generate-events-yaml
    name: Generate the aliases file
    types: [ file ]
    files: it_modernization/(aliases.yaml|raw_data/)
    pass_filenames: false
    entry: "cd ./it_modernization && pipenv run python scripts/generate/02_generate_events_yaml.py"
    language: system

  - id: generate-events-csv
    name: Generate the aliases file
    types: [ file ]
    files: it_modernization/(events.yaml|raw_data/)
    pass_filenames: false
    entry: "cd ./it_modernization && pipenv run python scripts/generate/03_generate_events_yaml.py"
    language: system

  - id: generate-postings-yaml
    name: Generate the aliases file
    types: [ file ]
    files: it_modernization/(events.yaml|raw_data/)
    pass_filenames: false
    entry: "cd ./it_modernization && pipenv run python scripts/generate/04_generate_postings_yaml.py"
    language: system

  - id: generate-people-yaml
    name: Generate the aliases file
    types: [ file ]
    files: it_modernization/(events.yaml|raw_data/)
    pass_filenames: false
    entry: "cd ./it_modernization && pipenv run python scripts/generate/05_generate_people_yaml.py"
    language: system

  - id: generate-people-yaml
    name: Generate the aliases file
    types: [ file ]
    files: it_modernization/(events.yaml|raw_data/)
    pass_filenames: false
    entry: "cd ./it_modernization && pipenv run python scripts/generate/05_generate_agency_comprehensive_yaml.py"
    language: system

  - id: generate-mermaid-chart
    name: Generate the aliases file
    types: [ file ]
    files: it_modernization/(postings.yaml|raw_data/)
    pass_filenames: false
    entry: "cd ./it_modernization && pipenv run python scripts/generate/07_generate_mermaid_chart_md.py"
    language: system

  - id: generate-agency-staffing-chart
    name: Generate the aliases file
    types: [ file ]
    files: it_modernization/(postings.yaml|raw_data/)
    pass_filenames: false
    entry: "cd ./it_modernization && pipenv run python scripts/generate/08_generate_agency_mermaid.py"
    language: system

Pre-commit cleanup
  .pre-commit-config.yaml
  exec_order_lawsuits/scrape_eo_lawsuits.py
  exec_order_lawsuits/test_scrape_eo_lawsuits.py
  it_modernization/agencies_chart.md
  it_modernization/schemas/agencies-file.json
  it_modernization/schemas/agency.json
  it_modernization/schemas/alias.json
  it_modernization/schemas/aliases-file.json
  it_modernization/schemas/cases-file.json
  it_modernization/schemas/detail.json
  it_modernization/schemas/details-file.json
  it_modernization/schemas/event.json
  it_modernization/schemas/events-file.json
  it_modernization/schemas/generated-metadata.json
  it_modernization/schemas/roundup.json
  it_modernization/schemas/roundups-file.json
  it_modernization/schemas/system.json
  it_modernization/schemas/systems-file.json
  it_modernization/schemas/valid_names.json
  it_modernization/scripts/generate_system_postings_yaml.py
  it_modernization/scripts/util.py
  it_modernization/staffing_chart.md
Due: none

A few more cleanup tasks
  it_modernization/mermaid-test.md
  it_modernization/scripts/publish
Due: none

Python, I don't have time for your import nonsense
  .pre-commit-config.yaml
  it_modernization/db/import/cases.csv
  it_modernization/db/import/cases_agencies.csv
  it_modernization/db/import/events.csv
  it_modernization/db/import/events_agencies.csv
  it_modernization/db/import/events_aliases.csv
  it_modernization/db/import/events_names.csv
  it_modernization/db/import/events_systems.csv
  it_modernization/raw_data/events.yaml
  it_modernization/raw_data/events_aliases.csv
  it_modernization/scripts/01_preprocess_events_yaml.py
  it_modernization/scripts/02_preprocess_db_tables.py
  it_modernization/scripts/11_generate_aliases_yaml.py
  it_modernization/scripts/12_generate_events_yaml.py
  it_modernization/scripts/13_generate_events_csv.py
  it_modernization/scripts/14_generate_postings_yaml.py
  it_modernization/scripts/15_generate_people_yaml.py
  it_modernization/scripts/16_generate_agency_comprehensive_yaml.py
  it_modernization/scripts/17_generate_mermaid_chart_md.py
  it_modernization/scripts/18_generate_agency_mermaid.py
  it_modernization/scripts/preprocess/02_preprocess_join_table_csvs.py
  it_modernization/scripts/util.py
Due: preprocess-events, preprocess-join-csvs, generate-aliases-yaml, generate-events-yaml, generate-events-csv, generate-postings-yaml, generate-people-yaml, generate-mermaid-chart, generate-agency-staffing-chart

Testing pre-commit hooks
  .pre-commit-config.yaml
  it_modernization/raw_data/events.yaml
Due: preprocess-events, preprocess-join-csvs, generate-aliases-yaml, generate-events-yaml, generate-events-csv, generate-postings-yaml, generate-people-yaml, generate-mermaid-chart, generate-agency-staffing-chart

More testing the pre-commit hook
  .pre-commit-config.yaml
  it_modernization/raw_data/events.yaml
  it_modernization/schemas/valid_names.json
Due: preprocess-events, preprocess-join-csvs, generate-aliases-yaml, generate-events-yaml, generate-events-csv, generate-postings-yaml, generate-people-yaml, generate-mermaid-chart, generate-agency-staffing-chart

Still messing around with pre-commit
  .pre-commit-config.yaml
  it_modernization/agencies_chart.md
  it_modernization/agency_comprehensive.yaml
  it_modernization/aliases.yaml
  it_modernization/db/import/events.csv
  it_modernization/db/import/events_agencies.csv
  it_modernization/db/import/events_names.csv
  it_modernization/events.csv
  it_modernization/events.yaml
  it_modernization/people.yaml
  it_modernization/postings.yaml
  it_modernization/raw_data/events.yaml
  it_modernization/scripts/01_preprocess_events_yaml.py
  it_modernization/scripts/02_preprocess_db_tables.py
  it_modernization/scripts/11_generate_aliases_yaml.py
  it_modernization/scripts/12_generate_events_yaml.py
  it_modernization/scripts/13_generate_events_csv.py
  it_modernization/scripts/14_generate_postings_yaml.py
  it_modernization/scripts/15_generate_people_yaml.py
  it_modernization/scripts/16_generate_agency_comprehensive_yaml.py
  it_modernization/scripts/17_generate_mermaid_chart_md.py
  it_modernization/scripts/18_generate_agency_mermaid.py
  it_modernization/scripts/util.py
  it_modernization/staffing_chart.md
Due: preprocess-events, preprocess-join-csvs, generate-aliases-yaml, generate-events-yaml, generate-events-csv, generate-postings-yaml, generate-people-yaml, generate-mermaid-chart, generate-agency-staffing-chart

DOGE at NSF
  .pre-commit-config.yaml
  it_modernization/agencies_chart.md
  it_modernization/agency_comprehensive.yaml
  it_modernization/db/import/events.csv
  it_modernization/db/import/events_agencies.csv
  it_modernization/db/import/events_names.csv
  it_modernization/events.csv
  it_modernization/events.yaml
  it_modernization/people.yaml
  it_modernization/postings.yaml
  it_modernization/raw_data/events.yaml
  it_modernization/staffing_chart.md
Due: preprocess-events, preprocess-join-csvs, generate-aliases-yaml, generate-events-yaml, generate-events-csv, generate-postings-yaml, generate-people-yaml, generate-mermaid-chart, generate-agency-staffing-chart

Now I have a sqlite3 DB to play with
  .gitignore
  it_modernization/README.md
  it_modernization/agency_comprehensive.yaml
  it_modernization/db/import/agencies.csv
  it_modernization/db/import/aliases.csv
  it_modernization/db/import/cases.csv
  it_modernization/db/import/details.csv
  it_modernization/db/import/details_aliases.csv
  it_modernization/db/import/details_names.csv
  it_modernization/db/import/systems.csv
  it_modernization/raw_data/cases.yaml
  it_modernization/scripts/02_preprocess_db_tables.py
  it_modernization/scripts/03_load_sqlite.sh
  it_modernization/scripts/create_sqlite_db
  it_modernization/scripts/util.py
Due: generate-aliases-yaml, generate-events-yaml, generate-events-csv, generate-postings-yaml, generate-people-yaml, generate-mermaid-chart, generate-agency-staffing-chart

.gitignore error
  .gitignore
  it_modernization/scripts/util_classes.py
Due: none

DOGE staff apparently now at the TSA too
  it_modernization/agency_comprehensive.yaml
  it_modernization/db/import/agencies.csv
  it_modernization/people.yaml
  it_modernization/raw_data/agencies.yaml
  it_modernization/raw_data/roundups.yaml
  it_modernization/schemas/valid_names.json
Due: generate-aliases-yaml, generate-events-yaml, generate-events-csv, generate-postings-yaml, generate-people-yaml, generate-mermaid-chart, generate-agency-staffing-chart

Small update, just testing some things
  it_modernization/agency_comprehensive.yaml
  it_modernization/aliases.yaml
  it_modernization/db/import/events.csv
  it_modernization/db/import/events_agencies.csv
  it_modernization/events.csv
  it_modernization/events.yaml
  it_modernization/people.yaml
  it_modernization/postings.yaml
  it_modernization/raw_data/events.yaml
Due: preprocess-events, preprocess-join-csvs, generate-aliases-yaml, generate-events-yaml, generate-events-csv, generate-postings-yaml, generate-people-yaml, generate-mermaid-chart, generate-agency-staffing-chart

Add DB building step to pre-commit
  .pre-commit-config.yaml
Due: none

Guess we're tracking people now
  .pre-commit-config.yaml
  it_modernization/db/import/events_aliases.csv
  it_modernization/db/import/events_systems.csv
  it_modernization/db/import/people.csv
  it_modernization/raw_data/people.yaml
  it_modernization/schemas/people-file.json
  it_modernization/schemas/person.json
  it_modernization/schemas/valid_names.json
  it_modernization/scripts/02_preprocess_db_tables.py
  it_modernization/scripts/03_load_sqlite.sh
Due: generate-aliases-yaml, generate-events-yaml, generate-events-csv, generate-postings-yaml, generate-people-yaml, generate-mermaid-chart, generate-agency-staffing-chart

Peewee code is working!!
  Pipfile
  Pipfile.lock
  it_modernization/db/__init__.py
  it_modernization/db/models.py
  it_modernization/scripts/02_preprocess_db_tables.py
  it_modernization/scripts/03_load_sqlite.sh
Due: none

Small data correction for duplicate record
  .pre-commit-config.yaml
  it_modernization/agency_comprehensive.yaml
  it_modernization/db/import/events.csv
  it_modernization/db/import/events_agencies.csv
  it_modernization/db/import/events_names.csv
  it_modernization/events.csv
  it_modernization/events.yaml
  it_modernization/people.yaml
  it_modernization/raw_data/events.yaml
  it_modernization/scripts/02_preprocess_db_tables.py
Due: preprocess-events, preprocess-join-csvs, generate-aliases-yaml, generate-events-yaml, generate-events-csv, generate-postings-yaml, generate-people-yaml, generate-mermaid-chart, generate-agency-staffing-chart

Trying some fun DB tricks
  it_modernization/aliases.yaml
  it_modernization/db/sqlite_schema.sql
  it_modernization/events.yaml
  it_modernization/people.yaml
  it_modernization/postings.yaml
  it_modernization/scripts/03_load_sqlite.sh
Due: generate-events-yaml, generate-events-csv, generate-postings-yaml, generate-people-yaml, generate-mermaid-chart, generate-agency-staffing-chart

Some more tweaks to the loading workflow
  it_modernization/db/models.py
  it_modernization/scripts/03_load_sqlite.sh
Due: none

A few new DOGE names at GSA
  it_modernization/agencies_chart.md
  it_modernization/agency_comprehensive.yaml
  it_modernization/db/import/events.csv
  it_modernization/db/import/events_agencies.csv
  it_modernization/db/import/events_names.csv
  it_modernization/db/import/people.csv
  it_modernization/db/sqlite_schema.sql
  it_modernization/events.csv
  it_modernization/events.yaml
  it_modernization/people.yaml
  it_modernization/postings.yaml
  it_modernization/raw_data/events.yaml
  it_modernization/raw_data/people.yaml
  it_modernization/schemas/person.json
  it_modernization/schemas/valid_names.json
  it_modernization/scripts/02_preprocess_db_tables.py
  it_modernization/staffing_chart.md
Due: preprocess-events, preprocess-join-csvs, generate-aliases-yaml, generate-events-yaml, generate-events-csv, generate-postings-yaml, generate-people-yaml, generate-mermaid-chart, generate-agency-staffing-chart

A few small DOGE sightings
  it_modernization/agency_comprehensive.yaml
  it_modernization/aliases.yaml
  it_modernization/db/import/agencies.csv
  it_modernization/db/import/events.csv
  it_modernization/db/import/events_agencies.csv
  it_modernization/events.csv
  it_modernization/events.yaml
  it_modernization/people.yaml
  it_modernization/postings.yaml
  it_modernization/raw_data/agencies.yaml
  it_modernization/raw_data/events.yaml
  it_modernization/schemas/valid_names.json
Due: preprocess-events, preprocess-join-csvs, generate-aliases-yaml, generate-events-yaml, generate-events-csv, generate-postings-yaml, generate-people-yaml, generate-mermaid-chart, generate-agency-staffing-chart

New weekly unemployment numbers
  unemployment_claims/weekly_claims.csv
Due: none

Some tweaks to the schema
  Pipfile
  Pipfile.lock
  it_modernization/agency_comprehensive.yaml
  it_modernization/aliases.yaml
  it_modernization/db/import/details.csv
  it_modernization/db/import/events.csv
  it_modernization/db/sqlite_schema.sql
  it_modernization/events.csv
  it_modernization/events.yaml
  it_modernization/raw_data/events.yaml
  it_modernization/schemas/event.json
  it_modernization/scripts/01_preprocess_events_yaml.py
  it_modernization/scripts/02_preprocess_db_tables.py
  it_modernization/scripts/03_load_sqlite.sh
Due: preprocess-events, preprocess-join-csvs, generate-aliases-yaml, generate-events-yaml, generate-events-csv, generate-postings-yaml, generate-people-yaml, generate-mermaid-chart, generate-agency-staffing-chart

A few small events
  it_modernization/agency_comprehensive.yaml
  it_modernization/aliases.yaml
  it_modernization/db/import/events.csv
  it_modernization/db/import/events_agencies.csv
  it_modernization/db/import/events_names.csv
  it_modernization/events.csv
  it_modernization/events.yaml
  it_modernization/people.yaml
  it_modernization/postings.yaml
  it_modernization/raw_data/events.yaml
Due: preprocess-events, preprocess-join-csvs, generate-aliases-yaml, generate-events-yaml, generate-events-csv, generate-postings-yaml, generate-people-yaml, generate-mermaid-chart, generate-agency-staffing-chart

A few more DOGE events
  it_modernization/agency_comprehensive.yaml
  it_modernization/db/import/events.csv
  it_modernization/db/import/events_agencies.csv
  it_modernization/db/import/events_names.csv
  it_modernization/events.csv
  it_modernization/events.yaml
  it_modernization/people.yaml
  it_modernization/postings.yaml
  it_modernization/raw_data/events.yaml
Due: preprocess-events, preprocess-join-csvs, generate-aliases-yaml, generate-events-yaml, generate-events-csv, generate-postings-yaml, generate-people-yaml, generate-mermaid-chart, generate-agency-staffing-chart

Another home visit
  home_visits/home_visits.csv
Due: none

More documents dumped in the CFPB litigation
  it_modernization/agencies_chart.md
  it_modernization/agency_comprehensive.yaml
  it_modernization/db/import/events.csv
  it_modernization/db/import/events_agencies.csv
  it_modernization/db/import/events_names.csv
  it_modernization/db/import/events_systems.csv
  it_modernization/db/import/systems.csv
  it_modernization/events.csv
  it_modernization/events.yaml
  it_modernization/people.yaml
  it_modernization/postings.yaml
  it_modernization/raw_data/events.yaml
  it_modernization/raw_data/systems.yaml
  it_modernization/schemas/valid_names.json
  it_modernization/scripts/13_generate_events_csv.py
  it_modernization/scripts/14_generate_postings_yaml.py
  it_modernization/scripts/16_generate_agency_comprehensive_yaml.py
  it_modernization/staffing_chart.md
Due: preprocess-events, preprocess-join-csvs, generate-aliases-yaml, generate-events-yaml, generate-events-csv, generate-postings-yaml, generate-people-yaml, generate-mermaid-chart, generate-agency-staffing-chart

Some more tweaks to database structure
  it_modernization/aliases.yaml
  it_modernization/db/import/details.csv
  it_modernization/db/import/events.csv
  it_modernization/db/import/roundups.csv
  it_modernization/db/models.py
  it_modernization/db/sqlite_schema.sql
  it_modernization/events.yaml
  it_modernization/people.yaml
  it_modernization/postings.yaml
  it_modernization/scripts/02_preprocess_db_tables.py
  it_modernization/scripts/03_load_sqlite.sh
Due: generate-events-yaml, generate-events-csv, generate-postings-yaml, generate-people-yaml, generate-mermaid-chart, generate-agency-staffing-chart

A few more DOGE things
  it_modernization/agencies_chart.md
  it_modernization/agency_comprehensive.yaml
  it_modernization/aliases.yaml
  it_modernization/db/import/events.csv
  it_modernization/db/import/events_agencies.csv
  it_modernization/db/import/events_names.csv
  it_modernization/db/import/people.csv
  it_modernization/events.csv
  it_modernization/events.yaml
  it_modernization/people.yaml
  it_modernization/postings.yaml
  it_modernization/raw_data/events.yaml
  it_modernization/raw_data/people.yaml
  it_modernization/schemas/valid_names.json
  it_modernization/staffing_chart.md
Due: preprocess-events, preprocess-join-csvs, generate-aliases-yaml, generate-events-yaml, generate-events-csv, generate-postings-yaml, generate-people-yaml, generate-mermaid-chart, generate-agency-staffing-chart

Another new DOGE guy
  it_modernization/agencies_chart.md
  it_modernization/agency_comprehensive.yaml
  it_modernization/aliases.yaml
  it_modernization/db/import/agencies.csv
  it_modernization/db/import/events.csv
  it_modernization/db/import/events_agencies.csv
  it_modernization/db/import/events_names.csv
  it_modernization/db/import/interagency_members.csv
  it_modernization/db/import/people.csv
  it_modernization/db/sqlite_schema.sql
  it_modernization/events.csv
  it_modernization/events.yaml
  it_modernization/people.yaml
  it_modernization/postings.yaml
  it_modernization/raw_data/events.yaml
  it_modernization/raw_data/people.yaml
  it_modernization/schemas/valid_names.json
  it_modernization/scripts/02_preprocess_db_tables.py
  it_modernization/scripts/03_load_sqlite.sh
  it_modernization/staffing_chart.md
Due: preprocess-events, preprocess-join-csvs, generate-aliases-yaml, generate-events-yaml, generate-events-csv, generate-postings-yaml, generate-people-yaml, generate-mermaid-chart, generate-agency-staffing-chart

Update README.md
  it_modernization/README.md
Due: none

Adding some new events
  it_modernization/agencies_chart.md
  it_modernization/agency_comprehensive.yaml
  it_modernization/aliases.yaml
  it_modernization/db/import/agencies.csv
  it_modernization/db/import/cases.csv
  it_modernization/db/import/cases_agencies.csv
  it_modernization/db/import/events.csv
  it_modernization/db/import/events_agencies.csv
  it_modernization/db/import/events_names.csv
  it_modernization/db/import/events_systems.csv
  it_modernization/db/import/interagency_members.csv
  it_modernization/db/import/people.csv
  it_modernization/events.csv
  it_modernization/events.yaml
  it_modernization/people.yaml
  it_modernization/postings.yaml
  it_modernization/raw_data/agencies.yaml
  it_modernization/raw_data/cases.yaml
  it_modernization/raw_data/events.yaml
  it_modernization/raw_data/people.yaml
  it_modernization/schemas/person.json
  it_modernization/schemas/valid_names.json
  it_modernization/staffing_chart.md
Due: preprocess-events, preprocess-join-csvs, generate-aliases-yaml, generate-events-yaml, generate-events-csv, generate-postings-yaml, generate-people-yaml, generate-mermaid-chart, generate-agency-staffing-chart

Weekly unemployment claims
  unemployment_claims/weekly_claims.csv
Due: none

Identified a whole bunch of OPM aliases
  it_modernization/agencies_chart.md
  it_modernization/aliases.yaml
  it_modernization/db/import/aliases.csv
  it_modernization/events.csv
  it_modernization/events.yaml
  it_modernization/people.yaml
  it_modernization/postings.yaml
  it_modernization/raw_data/aliases.yaml
  it_modernization/raw_data/terms.yaml
  it_modernization/staffing_chart.md
Due: generate-aliases-yaml, generate-events-yaml, generate-events-csv, generate-postings-yaml, generate-people-yaml, generate-mermaid-chart, generate-agency-staffing-chart

Pointing people to doge_track
  README.md
  it_modernization/README.md
Due: none

Disable automation for EO cases
  .github/actions/eo_scraper/action.yml
  .github/workflows/eo_lawsuits_update.yml
  it_modernization/agencies_chart.md
  it_modernization/aliases.yaml
  it_modernization/events.yaml
  it_modernization/people.yaml
  it_modernization/postings.yaml
  it_modernization/schemas/system.json
  it_modernization/staffing_chart.md
Due: generate-events-yaml, generate-events-csv, generate-postings-yaml, generate-people-yaml, generate-mermaid-chart, generate-agency-staffing-chart
